    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial;
    }

    body{
        /* margin-top: vmin; */
        gap: 1.5vmin;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        font-size: 5.5vmin;
        background-color: rgb(237,237,237);
    }

    .container{
        --cellsize:13vmin;
        --cellgap:2vmin;
        --padding:2vmin;
        display: grid;
        grid-template-columns: repeat(4,13vmin);
        grid-template-rows: repeat(4,13vmin);
        /* border: solid red 2px; */
        gap:2vmin;
        border: 1vmin;
        border-radius: 1vmin;
        padding: 2vmin;
        position: relative;
        background-color: #ccc;
    }
    .cell{
        --bgcolor:#AAA;
        --borderadius:1vmin;
        background-color: rgb(123, 118, 118);
        border-radius: 1vmin;
    }

    .box{
        display: flex;
        flex-direction: column;
        
        font-size: 6vmin;

        align-items:center;
        /* gap: 100px; */
        /* padding: em; */
        padding-top: 1em;
        /* justify-content: center; */
        gap: 4vmin;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) scale(0);
        /* border: solid 3px rgb(234, 232, 232); */
        width: 40vmin;
        height: 45vmin;
        border-radius: 2vmin;
        z-index: 1;
        background-color: rgb(216, 209, 209);
        transition: 200ms ease-in-out;
        /* animation: show ease-in-out 1s; */
    }

    .box.active{
        transform: translate(-50%,-50%) scale(1);
    }
    .scorefinal{
        font-size: 4vmin;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Restart{
        height: 8vmin;
        width: 25vmin;
        font-size: 0.7em;
        border-radius: 2vmin;
        background-color: #5f8ae1;
        background-color: rgba(0, 0, 0, 0);
        transition: 0.2s ease-in-out 0s;
    }
    .Restart:hover{
        transform: scale(1.1);
    }

    .overlay1{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.7);
        pointer-events: all;
    }

    .tile{
        /* background-color: red; */
        --x:0;
        --y:2;
        --background-lightness:70%;
        --text-lightness:20%;
        border-radius: 1vmin;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: var(--cellsize);
        height: var(--cellsize);
        background-color: rgb(141, 100, 100);
        top: calc(var(--x) * (var(--cellsize) + var(--cellgap)) + var(--cellgap));
        left: calc(var(--y) * (var(--cellsize) + var(--cellgap)) + var(--cellgap));
        transition: 120ms ease-in-out;
        /* transition: background-color 200ms; */
        animation: show ease-in-out 200ms;
        background-color: hsl(1000,80%, var(--background-lightness));
        color: hsl(200, 25%, var(--text-lightness));
    }

    @keyframes show{
        0%{
            opacity: 0.5;
            transform: scale(0);
        }

    }

    body, html {
        overscroll-behavior: none; /* Standard syntax */
        overscroll-behavior-y: none; /* For Firefox */
    }

.scorecontair{
    display: flex;
    gap: 1 vmin;
    flex-direction: column;
    border: solid black;
    padding: 2vmin;
    font-size: 0.7em;
    border-radius: 2vmin;
    /* background-color: #5f8ae1; */
    background-color: rgba(0, 0, 0, 0);
    width: 20vmin ;
    align-items: center;
}
.score{
    align-self: center;
}
.Restart1{
    height: 8vmin;
    width: 25vmin;
    font-size: 0.7em;
    border-radius: 2vmin;
    background-color: #5f8ae1;
    background-color: rgba(0, 0, 0, 0);
    transition: 0.2s ease-in-out 0s;
}
.Restart1:hover{
    transform: scale(1.1);
}

.heading{
    color: #1d0f0f;
    font-size: 1.5em;
}

@media (max-width:600px) {
    .heading{
        font-size: 2.5em;
    }
    body{
        padding-top: 0vmin;
        font-size: 7.5vmin;
        gap: 6vmin;
    }
    .container{
        /* font-size: 7.5vmin; */
        --cellsize:18vmin;
        --cellgap:2vmin;
        --padding:2vmin;
        display: grid;
        grid-template-columns: repeat(4,18vmin);
        grid-template-rows: repeat(4,18vmin);
        /* border: solid red 2px; */
        gap:2vmin;
        border: 1vmin;
        border-radius: 1vmin;
        padding: 2vmin;
        position: relative;
        background-color: #ccc;
    }
    
}


